@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 1400px;

  padding: 48px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 96px;
}

.logo {
  font-size: 32px;
  color: #e63946;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  padding: 128px 0px;
  width: 1400px;
}

.content {
  width: 900px;
}

.content a {
  font-size: 32px;
  color: #e63946;
  transition: all 0.2s ease-in;
}

.content a:hover {
  font-size: 32px;
  color: black;
}

h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

p {
  padding: 36px 0px;
  line-height: 140%;
  font-size: 32px;
  font-weight: 300;
}

span {
  text-decoration: underline;
}
